.basic_background {
    background-color: #e1eefc;
    min-height: 100vh; 
    position: relative;
}

.title {
    font-size: 3rem;
    color: #000000;
    text-align: center;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif
}

.title_2 {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 10px;
    color: #000000;
    text-align: center;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif
}

.title_2:hover {
    color: #41ce00;
}
