.basic_background {
    background-color: #6d8691;
    min-height: 100vh; 
    position: relative;
}

.title {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin-top: 10%;
    font-family: 'Montserrat', sans-serif;
}
