.basic_background {
    background-color: #e1eefc;
    min-height: 100vh;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.5s ease;
}

.fein_logo {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
    background-color: #e1eefc;
    margin-left: 1rem;
    padding: 1.5rem;
    align-self: center;
    transition: all 0.1s ease-in-out;
}

.fein_logo:hover {
    color: #101010;
    cursor: pointer;
}