.profile_page {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.profile_page_dark {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1e1f1e;
    color: rgb(255, 255, 255);
}


.username_title {
    font-size: 36px;
    font-weight: 600;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10%;
}

.username_description {
    font-size: 18px;
    font-weight: 600;
    justify-self: center;
    margin-bottom: 20px;
    margin-left: 10%;

}

.trade_information {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 10%;

    margin-bottom: 20px;
    border: none;
    background-color: #383838;
    padding: 30px;
    border-radius: 40px;
}

.trade_information_subtitle {
    font-size: 24px;
    font-weight: 600;
    justify-self: center;
    margin-bottom: 20px;
    width: 200px;
}

.banner_image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}