.basic_background {
    background-color: #e1eefc;
    min-height: 100vh; 
}

.title {
    font-size: 3rem;
    color: #000000;
    text-align: center;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.title_2 {
    font-size: 3rem;
    font-weight: 900;
    margin-left: 10px;
    color: #3cbb01;
    text-align: center;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif
}

.trade_button {
    width: 20%;
    align-self: center;
    justify-self: center;
}

.trade_button:hover {
    transform: scale(1.02);
}
