.stock_info {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 70%;
    margin: auto;
    font-size: 1.5rem;
}

.mock_stock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #afafaf;
    cursor: pointer;

}

.mock_price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #afafaf;
    cursor: pointer;

}

.trading_dark {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1e1f1e;
    color: white;
}

.trading {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}