.basic_background {
    background-color: #e1eefc;
    min-height: 100vh;
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}