.top_stock_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    color: black;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
    transition: 0.3s;
    width: 90%;
}

.top_stock_item:hover {
    transform: scale(1.02);
    cursor: pointer;
}